body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
img{
    width: 40px;
    height: 40px;
}
#startButton {
    font-size: 40px;
    padding: 10px 20px;
    border-color: black;
    border-width: 10px;
    background-color: gray;
    margin-top: 0px;
    width: 400px;
    position: absolute;
    cursor: pointer;
}
#mailButton1 {
    font-size: 40px;
    padding: 10px 20px;
    border-color: black;
    border-width: 10px;
    background-color: gray;
    position: relative;
    cursor: pointer;
    margin-top: 200px;
    width: 400px;
}
#quitButton {
    font-size: 40px;
    padding: 10px 20px;
    border-color: black;
    border-width: 10px;
    background-color: gray;
    margin-top: 0px;
    left: 0px;
    top: 0px;
    position: absolute;
    cursor: pointer;
    display: none;
}
#help {
    font-size: 40px;
    padding: 10px 20px;
    border-color: black;
    border-width: 10px;
    background-color: gray;
    margin-top: 400px;
    position: absolute;
    cursor: pointer;
    width: 400px;
}
button:hover{
    transform: scale(1.1);
}

#mazeContainer {
    display: none;
}
#maze {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    grid-template-rows: repeat(15, 40px);
    gap: 0;
    background-color: #fff;
    border: 10px solid black; 
    box-sizing: border-box; 
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.wall {
    background-image: linear-gradient(to top left, gray, black);
}
.start {
    background-color: #0f0;
}
.end {
    background-color: #f00;
}
.cell.selected {
    border-radius: 50%;
    background-color: yellow;
}

#timer {
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
}
#gradientCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    background: radial-gradient(circle at center, #ffffff,black);
}
.game{
    z-index: 2;
    display: none;
}
.text{
    z-index: 3;
}
.mazeContainer{
    z-index: 4;
}

#titleContainer {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  
#mazeTitle {
    font-family: 'Arial', sans-serif;
    font-size: 120px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #000, #fff);
    animation: bounce 1.75s infinite;
}
  
#ppt {
    font-size: 20px;
    padding: 10px 20px;
    border-color: black;
    border-width: 10px;
    background-color: gray;
    margin-top: 0px;
    left: 0px;
    top: 0px;
    position: absolute;
    cursor: pointer;
}
  

#helpButton{
    font-size: 25px;
    margin-top: 0px;
    left: 100px;
    top: 200px;
    position: absolute;
    display: none;
}